<h3> înregistrează-te </h3>
<form method="post" action="/users/registration">

    <div class="form-group">
        <label>name</label>
        <input type="text" class="form-control" name="name" placeholder="name">
    </div>

    <div class="form-group">
        <label>username</label>
        <input type="text" class="form-control" name="username" placeholder="username">
    </div>

    <div class="form-group">
        <label>password</label>
        <input type="text" class="form-control" name="password" placeholder="password">
    </div>

    <div class="form-group">
        <label>confirm password</label>
        <input type="text" class="form-control" name="confirmpassword" placeholder="confirm-password">
    </div>

    <div class="form-group">
        <label>email</label>
        <input type="text" class="form-control" name="email" placeholder="email">
    </div>

    <button type="submit" class="btn btn-default">submit</button>
</form>